/* src/App.css */

.city-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

.city-card {
  border: 1px solid #ccc;
  padding: 0;
  height: 260px;
  border-radius: 10px;
  display: flex;
}

.city-card img {
  width: 207px;
  height: 260px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.city-card-content {
  width: 50%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 10px 10px 0;
  text-align: left;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0;
}

.subtitle {
  color: #5F5F5F;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.card-title {
  color: #525367;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

